<template name="dares">
	<div class="panel panel-primary dare-table">
		<div class="panel-heading">
			<h3 class="panel-title">Available Dares</h3>
		</div>
		<div class="panel-body">
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Subject</th>
					<th>Difficulty</th>
					<th>For</th>
					<th>From</th>
				</tr>
			</thead>
			<tbody>
				{{#each dares}}
				<tr>
					<td><a href="/dare/{{_id}}">{{name}}</a></td>
					<td>{{ difficulty }}</td>
					<td>{{ gender }}</td>
					<td>_username_</td>
				</tr>
				{{else}}
				<tr>
					<td rowspan="3">There are no dares</td>
					<td>&nbsp;</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>
