<template name="createDare">

					<form class="open-dare-form">
						<div class="form-group">
							<label>Subject</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Name">
						</div>

						<div class="form-group">
							<label>For Gender</label>
							<select class="form-control" id="gender" name="gender">
								<option value="forall">Everyone</option>
								<option value="women">Women</option>
								<option value="men">Men</option>

							</select>
						</div>
						<div class="form-group">
							<label>Difficulty</label>
							<select class="form-control" id="difficulty" name="difficulty">
								<option value="low">Low</option>
								<option value="medium">Medium</option>
								<option value="high">High</option>
							</select>
						</div>
						<div class="form-group">
							<label>Dare</label>
							<textarea class="form-control" id="message" name="message"></textarea>
						</div>

						<button type="submit" class="btn btn-primary">Submit Dare</button>


					</form>


</template>
