<template name="dare">
	<ul class="list-group">
	<li class="list-group-item"><strong>Dare ID: </strong>{{_id}}</li>
	<li class="list-group-item"><strong>Subject: </strong>{{name}}</li>
	<li class="list-group-item"><strong>Message: </strong>{{message}}</li>
	<li class="list-group-item"><strong>Gender: </strong>{{gender}}</li>
	<li class="list-group-item"><strong>Difficulty: </strong>{{difficulty}}</li>
	<td><a href="#" class="btn btn-danger btn-tiny claim-dare">Claim Dare</a></td>
	</ul>
</template>