<template name="navbar">
  <div class="row expanded navigation">
    <div class="column medium-12">
      <nav>
        <ul>
          <li><a href="{{pathFor 'dares'}}">Available Dares</a></li>
          {{#if currentUser}}
          <li><a href="{{pathFor 'mydares'}}">My Dares</a></li>
          <li><a href="{{pathFor 'createDare'}}">Make New Dare</a></li>
          {{/if}}
        </ul>
         <div class="profile right">
          {{#if currentUser}}
            <a href="profile">Edit Profile</a>
            <a href="sign-out">Sign Out</a>
          {{else}}
            <a href="sign-in">Login</a> or <a href="sign-up">Register</a>
          {{/if}}
        </div>
      </nav>
    </div>
  </div>
</template>
